.l-footer {
  width: 100%;
  padding-top: 20px;
  background-color: #EFF2F2;
  &__inner {
    width: 960px;
    margin: 0 auto 20px;
    display: flex;
  }
  &__clm01 {
    padding: 10px 20px 10px 0;
    border-right: solid 2px #ACACAD;
  }
  &__access {
    font-weight: bold;
  }
  &__clm02 {
    padding: 30px 0 20px 10px;
    display: flex;
  }
  &__innerClm {
    width: 125px;
    margin-right: 10px;
  }
  &__link {
    margin-bottom: 5px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    vertical-align: text-top;
    color: #231815;
  }
  &__link::before {
    content: '';
    width: 12px;
    height: 12px;
    margin-right: 5px;
    display: inline-block;
    background-image: url("../images/icon_footerlink.svg");
    background-size: contain;
  }
  &__copyright {
    width: 100%;
    padding: 10px 0;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #000;
  }
}