.c-announceList {
  width: 80%;
  margin: 0 auto 20px;
  font-size: 21px;
  &__head {
    width: calc(35% - 63px);
    display: inline-block;
    text-align-last: justify;
  }
  &__txt {
    width: calc(65% - 20px);
    display: inline-block;
    margin-left: 20px;
  }
  .narrow {
    letter-spacing: -1px;
  }
}